html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

.table-striped {
    width: 100%;
    border-collapse: collapse;
}

.table-striped th,
.table-striped td {
    padding: 8px;
    text-align: left;
}

.table-striped th {
    background-color: #333;
    color: #fff;
}

.table-striped tr:nth-child(even) {
    background-color: #222;
}

.table-striped tr:hover {
    background-color: #444;
}

.table-striped tr:hover td {
    color: #fff;
}
